<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelopia</title>



    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="stylesheet/countries.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <!-- custom js file link  -->
    <script src="js/script.js" defer></script>


</head>

<body>
    <!-- header section starts  -->

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <img class="travel"
                src="images/muaz1.png" alt="" srcset="">
        </a>
        <nav class="navbar">
            <a data-aos="zoom-in-left" data-aos-delay="300" href="/">home</a>
            <a data-aos="zoom-in-left" data-aos-delay="450" href="#about">about</a>
            <a data-aos="zoom-in-left" data-aos-delay="600" href="#destination">destination</a>
            <a data-aos="zoom-in-left" data-aos-delay="750" href="#services">services</a>
            <a data-aos="zoom-in-left" data-aos-delay="900" href="#gallery">gallery</a>
            <a data-aos="zoom-in-left" data-aos-delay="1150" href="#blogs">blogs</a>
        </nav>

        <a data-aos="zoom-in-left" data-aos-delay="1300" href="#book-form" class="btn">book now</a>

    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <span data-aos="fade-up" data-aos-delay="150">Explore your options</span>
            <h3 data-aos="fade-up" data-aos-delay="300">Study in Europe</h3>
            <!-- <p data-aos="fade-up" data-aos-delay="450">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Necessitatibus quia illum quod perspiciatis harum in possimus? Totam consequuntur officia quia?</p> -->
            <a data-aos="fade-up" data-aos-delay="600" href="#" class="btn">Apply now!</a>
        </div>

    </section>

    <!-- home section ends -->

    <section class="services" id="services">

        <div class="heading">
            <span>Study your Bachelor's or Master's degree in Turkey</span>
            <h1>countless expericences</h1>
        </div>

        <div class="box-container">

            <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                <h3>About Turkey</h3>
                <p>Turkey is the second country in the world in access to higher education with 94.2% schooling rate.
                    Turkey involved in European Higher Education Area is implementing the Bologna Process in a perfect
                    way; our Bologna report is 5 out of 5. So, the diploma you receive from a university in Turkey is
                    recognized in all European countries! As course credit system, ECTS is applied in accordance with
                    Europe and all students are given Diploma Supplement. In addition, Turkey is one of the most
                    successful countries participating in the exchange programs under Erasmus +. In addition to Erasmus,
                    there are many exchange programs in Turkey, such as Mevlana, Farabi, which support the mobility of
                    students and lecturers.
                </p>
            </div>

        </div>

    </section>

    <!-- destination section starts  -->

    <section class="destination" id="destination">

        <div class="heading">
            <span>Why Turkey?</span>
        </div>

        <div class="box-container">

            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="content">
                    <h3>Scholarships Available
                    </h3>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="content">
                    <h3>Quality Education

                    </h3>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="content">
                    <h3>Work while study
                    </h3>
                </div>
            </div>
            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <div class="content">
                    <h3>Easy Living Conditions
                    </h3>
                </div>
            </div>



        </div>

    </section>
    <!-- requirments starts -->
    <section class="services" id="services">

        <div class="heading">
            <span>Application Documents
            </span>
        </div>

        <div class="box-container">

            <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                <h3>Bachelor Degree</h3>


                <p>Passport
                    <br>
                    High School Transcript (Grade 9-12)
                    <br>

                    Grade 10 and 12 National exams
                </p>
            </div>
            <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                <h3>Masters Degree</h3>


                <p>Passport
                    <br>
                    Bachelor Transcript/ Student copy / Grade report
                    <br>

                    Degree Certificate/ tempo.

                </p>
            </div>

        </div>

    </section>
    <!-- requirments ends -->
    <!-- banner section starts  -->

    <div class="banner">

        <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
            <span>start your adventures</span>
            <h3>Let's Explore This World</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatum praesentium amet quibusdam quam
                officia suscipit odio.</p>
            <a href="#book-form" class="btn">book now</a>
        </div>

    </div>

    <!-- banner section ends -->

    <!-- footer section starts -->

    <section class="footer">

        <div class="box-container">

            <div class="box" data-aos="fade-up" data-aos-delay="150">
                <a href="#" class="logo"> <i class="fas fa-paper-plane"></i>Travelopia</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ad?</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="https://instagram.com/travlopia_company?igshid=YmMyMTA2M2Y=" class="fab fa-instagram"></a>
                </div>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="300">
                <h3>quick links</h3>
                <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#about" class="links"> <i class="fas fa-arrow-right"></i> about </a>
                <a href="#destination" class="links"> <i class="fas fa-arrow-right"></i> destination </a>
                <a href="#services" class="links"> <i class="fas fa-arrow-right"></i> services </a>
                <a href="#gallery" class="links"> <i class="fas fa-arrow-right"></i> gallery </a>
                <a href="#blogs" class="links"> <i class="fas fa-arrow-right"></i> blogs </a>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="450">
                <h3>contact info</h3>
                <p> <i class="fas fa-map"></i> Addis Ababa, Ethiopia</p>
                <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
                <p> <i class="fas fa-envelope"></i> abudi4947@gmail.com </p>
                <p> <i class="fas fa-clock"></i> 7:00am - 10:00pm </p>
            </div>

            <div class="box" data-aos="fade-up" data-aos-delay="600">
                <h3>newsletter</h3>
                <p>subscribe for latest updates</p>
                <form action="">
                    <input type="email" name="" placeholder="enter your email" class="email" id="">
                    <input type="submit" value="subscribe" class="btn">
                </form>
            </div>

        </div>

    </section>


    <div class="credit">created by <span>mr. Abdullah Omar</span> | all rights reserved!</div>

    <!-- footer section ends -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>

        AOS.init({
            duration: 800,
            offset: 150,
        });

    </script>



</body>

</html>